## Análisis Descriptivo

In [1]:
# Librerías
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
def obtener_datos_pokemons(inicio, fin=None):
    if fin is None:
        fin = inicio
    lista_pok = []

    for num in range(inicio, fin + 1):
        response = requests.get(url=f"https://pokeapi.co/api/v2/pokemon/{num}/")
        if response.status_code == 200:
            data = response.json()
            
            dic_pok = {
                'id': data['id'],
                'name': data['name'],
                'height': data['height'],
                'weight': data['weight']
            }
            
            for idx, type_info in enumerate(data['types']):
                dic_pok[f'type_{idx + 1}'] = type_info['type']['name']
            
            for stat_info in data['stats']:
                dic_pok[stat_info['stat']['name']] = stat_info['base_stat']
            
            lista_pok.append(dic_pok)

    return pd.DataFrame(lista_pok)

df_pokemon = obtener_datos_pokemons(1,151)

In [12]:
df_pokemon.head()

,id,name,height,weight,type_1,type_2,hp,attack,defense,special-attack,special-defense,speed
0,1,bulbasaur,7,69,grass,poison,45,49,49,65,65,45
1,2,ivysaur,10,130,grass,poison,60,62,63,80,80,60
2,3,venusaur,20,1000,grass,poison,80,82,83,100,100,80
3,4,charmander,6,85,fire,NaN,39,52,43,60,50,65
4,5,charmeleon,11,190,fire,NaN,58,64,58,80,65,80

## Análisis de datos.

1. Definir el Problema
    - Objetivos
2. Recolección de Datos
    - Fuentes de datos
3. Análisis Descriptivo
    - Estadísticas Descriptivas
    - Visualizaciones de las variables (UniVariante)
4. Limpieza de los Datos
    - Calidad de los datos --> NaNs, outliers...
5. Análisis Exploratorio
    - Visualizaciones de variables (BiVariantes, MultiVariantes)
    - Correlaciones
6. Análisis Inferencial
    - Pruebas Estadísticas
7. ....
8. ....
9. Interpretación de los Resultados
    - Insight
    - Conclusiones
10. Toma de decisiones

# Análisis Descriptivo

- Realizar estadísticas descriptivas básicas para obtener una visión general de los datos.
- Identificar tipos de datos y reconocer patrones y anomalías evidentes.

Pasos para el análisis descriptivo:

1. Hacer una copia de df (dataframe)
2. Revisar el head y tail de df
3. Revisar la info
4. Revisar los missing
5. Hacer una tabla con los tipos de datos, clasificación de datos, cardinalidad, % missing, de cada variable
6. Revisar los outliers
7. Tipo de distribución 
8. Gráficos
    - Histogramas
    - Boxplot
    - Densidad