In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    {'nombres':['Juan', 'Ronald', 'Carla','Nuria','Jose','Deni',None],
     'edades':[35,36,28,19,25,'No te lo digo',None],
     'dinero':[1_000,5_000,500,1_000_000,'anda a lavarte','casi un millon',None],
     'soy Nuria':[False,False,False,True,False,False,None],
     'id':[1,2,3,4,5,6,7]}
    )
df

  nombres         edades          dinero soy Nuria  id
0    Juan             35            1000     False   1
1  Ronald             36            5000     False   2
2   Carla             28             500     False   3
3   Nuria             19         1000000      True   4
4    Jose             25  anda a lavarte     False   5
5    Deni  No te lo digo  casi un millon     False   6
6    None           None            None      None   7

# Analizar los datos

In [11]:
df.size

35

In [12]:
df.shape

(7, 5)

In [13]:
df.columns

Index(['nombres', 'edades', 'dinero', 'soy Nuria', 'id'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    6 non-null      object
 1   edades     6 non-null      object
 2   dinero     6 non-null      object
 3   soy Nuria  6 non-null      object
 4   id         7 non-null      int64
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

In [9]:
df.describe()

             id
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [10]:
df.describe(include='object')

       nombres  edades  dinero soy Nuria
count        6       6       6         6
unique       6       6       6         2
top       Juan      35    1000     False
freq         1       1       1         5