In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('data/winequality-red.csv', sep=';')

In [93]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [95]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [96]:
import seaborn as sns

In [97]:
# sns.pairplot(df)

In [98]:
import numpy as np

In [99]:
# np.log(y).plot(kind='hist')

In [100]:
# np.log(y).mode()

In [101]:
# np.log(y).describe()

In [102]:
X = df.drop(columns='alcohol')
y = np.log(df['alcohol'])

In [72]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, PowerTransformer

esc = PowerTransformer()

esc.fit(X)

X_esc = esc.transform(X)

In [73]:
X = X_esc

In [74]:
# sns.heatmap(np.where(np.abs(X.corr())>0.5,X.corr(),0),annot=True,cmap='Reds')

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error, r2_score, mean_absolute_percentage_error

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state=69)

In [77]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)

print('RMSE:', root_mean_squared_error(y_test, y_pred))
print('R2:', r2_score(y_test, y_pred))
print('MAPE:', mean_absolute_percentage_error(y_test, y_pred))

RMSE: 0.06144886879021781
R2: 0.623313854571576
MAPE: 0.020240062106676324

In [78]:
pd.DataFrame(X).describe()

,0,1,2,3,4,5,6,7,8,9,10
count,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03,1.599000e+03
mean,4.372571e-15,-5.910080e-16,-3.288315e-16,-1.777468e-15,-2.132961e-16,-7.154308e-16,-6.221137e-16,1.633073e-10,3.768232e-15,-2.310708e-16,1.208678e-15
std,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00,1.000313e+00
min,-3.446389e+00,-2.957391e+00,-1.531109e+00,-5.026600e+00,-6.615453e+00,-2.940835e+00,-2.434279e+00,-3.642526e+00,-4.053284e+00,-3.993948e+00,-3.615365e+00
25%,-6.707346e-01,-7.515576e-01,-9.298079e-01,-5.971451e-01,-5.070917e-01,-9.027894e-01,-7.355647e-01,-6.024621e-01,-6.424043e-01,-6.809851e-01,-7.774672e-01
50%,-9.467743e-02,5.826261e-02,4.423533e-02,-8.632498e-03,-1.887634e-02,8.910226e-02,3.410317e-02,1.046481e-02,1.704430e-02,-4.784742e-02,4.733704e-01
75%,6.594381e-01,7.034919e-01,8.138191e-01,5.565652e-01,4.800363e-01,7.153504e-01,7.415433e-01,5.828156e-01,5.930382e-01,7.079726e-01,4.733704e-01
max,2.785266e+00,3.849422e+00,2.860035e+00,2.544370e+00,2.912545e+00,2.789696e+00,3.048395e+00,3.574556e+00,4.115919e+00,2.929811e+00,2.747039e+00

In [79]:
lr.coef_

array([ 0.06432379,  0.00921705,  0.01664214,  0.03978969, -0.00493212,
        0.00172644, -0.01285497, -0.0983478 ,  0.04360323,  0.0174297 ,
        0.01545734])

In [80]:
X

array([[-4.42665887e-01,  9.95541630e-01, -1.53110932e+00, ...,
         1.27568966e+00, -5.81649810e-01, -7.77467217e-01],
       [-1.61307687e-01,  1.77129874e+00, -1.53110932e+00, ...,
        -7.09517442e-01,  3.95139954e-01, -7.77467217e-01],
       [-1.61307687e-01,  1.26980139e+00, -1.25535866e+00, ...,
        -3.10054088e-01,  1.83771552e-01, -7.77467217e-01],
       ...,
       [-1.36436736e+00,  3.87059824e-04, -6.83293826e-01, ...,
         7.18868609e-01,  8.20841495e-01,  4.73370362e-01],
       [-1.76745837e+00,  7.28552768e-01, -7.43826364e-01, ...,
         1.63859531e+00,  5.88343819e-01, -7.77467217e-01],
       [-1.66263981e+00, -1.32045850e+00,  1.03107021e+00, ...,
         5.29831605e-01,  2.56369273e-01,  4.73370362e-01]])

In [81]:
pd.DataFrame(lr.coef_.reshape(1,-1),columns=X.columns)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [27]:
lr.intercept_

np.float64(53.238770193909644)

----------

# Clase para regresión lineal

In [128]:
import numpy as np
import pandas as pd

class LinearRegressionBootcamp:
    def __init__(self, normalized=False):
        self.coeficientes = None
        self.intercepto = None
        self.media = None
        self.desviacion_estandar = None
        self.normalized = normalized

    def _normalizado_features(self, X:pd.DataFrame):
        if self.media is None or self.desviacion_estandar is None:
            self.media = X.mean(axis=0)
            self.desviacion_estandar = X.std(axis=0)

        return (X - self.media) / self.desviacion_estandar

    def fit(self, df:pd.DataFrame, target:str):
        X = df.drop(columns=target)
        self.feature_columns = X.columns
        y = df[target].values

        if self.normalized:
            X = self._normalizado_features(X)

        X = np.c_[np.ones(X.shape[0]), X]

        theta = np.linalg.solve(X.T @ X, X.T @ y)

        self.intercepto = theta[0]
        self.coeficientes = theta[1:]  # Corregido: los coeficientes son desde el índice 1

    def predict(self, df: pd.DataFrame):
        if self.coeficientes is None or self.intercepto is None:
            raise ValueError('El modelo no ha sido entrenado.')

        X = df[self.feature_columns].copy()

        if self.normalized:
            X = self._normalizado_features(X)

        X = X.values  # Convertimos a numpy array después de normalizar

        y_pred = self.intercepto + np.dot(X, self.coeficientes)

        return y_pred

In [143]:

model = LinearRegressionBootcamp(normalized=True)

model.fit(df, 'alcohol')

print('Intercepto:', model.intercepto)
print('Coeficientes:', model.coeficientes)

y_pred = model.predict(df)

print('RMSE:', root_mean_squared_error(df['alcohol'].values, y_pred))
print('R2:', r2_score(df['alcohol'].values, y_pred))
print('MAPE:', mean_absolute_percentage_error(df['alcohol'].values, y_pred))

Intercepto: 10.422983114446494
Coeficientes: [ 0.85745535  0.10552457  0.15968768  0.36993179 -0.04390991 -0.03157529
 -0.04573902 -1.08263909  0.55842251  0.1617152   0.18753436]
RMSE: 0.5919529738606677
R2: 0.6912531089251452
MAPE: 0.043295300438974574