# SQL

## Instalación de PostgreSQL
Si aún no tienes PostgreSQL instalado, puedes instalarlo manualmente dependiendo de tu sistema operativo:

### En Ubuntu/Debian:

```bash
sudo apt-get update
sudo apt-get install postgresql postgresql-contrib
sudo service postgresql start
```

### En macOS usando Homebrew:

```bash
brew update
brew install postgresql
brew services start postgresql
```

### En Windows:
Puedes descargar el instalador de PostgreSQL desde la [página oficial](https://www.postgresql.org/download/windows/). Durante la instalación, asegúrate de incluir pgAdmin y otras herramientas útiles.

Una vez instalado, el servicio PostgreSQL debería iniciar automáticamente. Si no, puedes iniciarlo desde el "Services" o "Servicios".

## Configuración

### En Mac y Linux:

```bash
sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';"
```

### En Windows:
1. Incluir PostgreSQL en las variables de entorno
```text
    C:\Program Files\PostgreSQL\16\bin
```
2. Abre la "Terminal" como administrador.

3. Ejecuta psql:
```bash
    psql -U postgres
```
4. Dentro de psql, ejecuta el comando:
```SQL
    CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';
```

## Conexión a PostgreSQL usando SQLAlchemy

In [ ]:
import os
import pandas as pd
import polars as pl
from typing import Union
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

load_dotenv()

# Reemplaza USER y PASSWORD del .env
engine = create_engine(f"postgresql+psycopg2://{os.getenv('USER')}:{os.getenv('PASSWORD')}@localhost:5432/postgres")

# Probar la conexión
try:
    connection = engine.connect()
    print("Conexión exitosa")
    connection.close()
except Exception as e:
    print(f"Error al conectar: {e}")


def ejecutar_query(query: str, devolver_polars: bool = False) -> Union[pd.DataFrame, pl.DataFrame, str]:
    """
    Ejecuta una consulta SQL en la base de datos y devuelve un DataFrame.

    Parámetros:
    - query (str): La consulta SQL a ejecutar.
    - devolver_polars (bool): Si es True, devuelve un polars DataFrame, si no, devuelve un pandas DataFrame (por defecto).

    Retorna:
    - Union[pd.DataFrame, pl.DataFrame, str]: Retorna un DataFrame en pandas o polars dependiendo del parámetro 'devolver_polars',
      o un mensaje de éxito/error si la operación no es un SELECT.
    """
    
    with engine.connect() as connection:
        try:
            result = connection.execute(text(query))
            
            # Determinar si es una consulta SELECT para devolver datos
            if result.returns_rows:
                rows = result.fetchall()
                columns = result.keys()

                # Convertir filas en un diccionario de listas para crear correctamente el DataFrame en polars
                data_dict = {col: [row[idx] for row in rows] for idx, col in enumerate(columns)}

                # Verificación de coincidencia de columnas y filas
                if devolver_polars:
                    return pl.DataFrame(data_dict)
                else:
                    return pd.DataFrame(data_dict)
            else:
                connection.commit()
                return f"Query ejecutada correctamente: {result.rowcount} filas afectadas."
        except Exception as e:
            return f"Error al ejecutar la query: {e}"

### Crear base de datos

In [ ]:
query_crear_schema =  "CREATE SCHEMA IF NOT EXISTS bootcamp"
ejecutar_query(query=query_crear_schema)

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS bootcamp.Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [ ]:
query_crear_tabla1 = "CREATE TABLE IF NOT EXISTS bootcamp.Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));"
ejecutar_query(query= query_crear_tabla1)

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS bootcamp.Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id)
  );
```

In [ ]:
query_crear_tabla2 = "CREATE TABLE IF NOT EXISTS bootcamp.Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id));"
ejecutar_query(query= query_crear_tabla2)

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS bootcamp.Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id)
  );

```

In [ ]:
query_crear_tabla3 = "CREATE TABLE IF NOT EXISTS bootcamp.Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id));"
ejecutar_query(query_crear_tabla3)

### Check que se hayan creado las tablas

In [ ]:
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';"
ejecutar_query(query=query)

## DML - Insertar datos ficticios



```
INSERT INTO bootcamp.Customers 
VALUES 
(1, 'Juan', '1989-04-08', Null),
(2, 'Mario', '2005-05-05', Null),
(3, 'Laura', '2020-03-21', '2022-02-05')
;
```

In [ ]:
query= "INSERT INTO bootcamp.Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')"
ejecutar_query(query=query)



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '2022-05-06', 45),
(2, 1, '2021-05-06', 60),
(3, 1, '2022-06-06', 70),
(4, 2, '2022-05-01', 5),
(5, 3, '2022-10-06', 145),
(6, 3, '2022-02-03', 2)
;
```

In [ ]:
query = "INSERT INTO bootcamp.Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);"
ejecutar_query(query=query)


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '2022-06-06', 'Barcelona'), 
(2, 2, '2021-06-06', 'Madrid'), 
(3, 3, '2022-06-10', 'Barcelona'), 
(4, 4, '2022-02-05', 'Vigo'), 
(5, 5, '2022-06-15', 'Barcelona'), 
(6, 6, '2022-03-05', 'Madrid')
;
```

In [ ]:
query= "INSERT INTO bootcamp.Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');"
ejecutar_query(query=query)

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

In [ ]:
query= ""
ejecutar_query(query=query, devolver_polars=True)

2. Retorna la cantidad de envios por shipment_city

In [ ]:
query =''

ejecutar_query(query=query, devolver_polars=True)

3. Retorna la cantidad de envios a Barcelona

In [ ]:
query = ""

ejecutar_query(query=query, devolver_polars=True)

4. Retorna todas las ordenes mayores a €50

In [ ]:
query= ''

ejecutar_query(query=query, devolver_polars=True)

5. Retorna el cliente que más dinero gasto

In [ ]:
query= ''

ejecutar_query(query=query)

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

In [ ]:
query= ''

ejecutar_query(query=query)

7. Retornar la duración promedio de los clientes que se dieron de baja.

In [ ]:
query= ''

ejecutar_query(query=query)

8. Retornar los clientes que tienen una 'a' en el nombre.

In [ ]:
query= ""

ejecutar_query(query=query)