# SQL

In [ ]:
# install
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres

### Crear base de datos

In [ ]:
%sql CREATE SCHEMA IF NOT EXISTS bootcamp

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS bootcamp.Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [ ]:
%sql CREATE TABLE IF NOT EXISTS bootcamp.Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS bootcamp.Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id)
  );
```

In [ ]:
%sql CREATE TABLE IF NOT EXISTS bootcamp.Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id));

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS bootcamp.Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id)
  );

```

In [ ]:
%sql CREATE TABLE IF NOT EXISTS bootcamp.Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id));

### Check que se hayan creado las tablas

In [ ]:
%sql SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';

## DML - Insertar datos ficticios



```
INSERT INTO bootcamp.Customers 
VALUES 
(1, 'Juan', '04/08/1989', Null),
(2, 'Mario', '05/05/2005', Null),
(3, 'Laura', '03/21/2020', '02/05/2022')
;
```

In [ ]:
%sql INSERT INTO bootcamp.Customers VALUES (1, 'Juan', '04/08/1989', Null), (2, 'Mario', '05/05/2005', Null), (3, 'Laura', '03/21/2020', '02/05/2022')



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '06/05/2022', 45),
(2, 1, '06/05/2021', 60),
(3, 1, '06/06/2022', 70),
(4, 2, '01/05/2022', 5),
(5, 3, '06/10/2022', 145),
(6, 3, '03/02/2022', 2)
;
```

In [ ]:
%sql INSERT INTO bootcamp.Orders VALUES (1, 1, '06/05/2022', 45), (2, 1, '06/05/2021', 60), (3, 1, '06/06/2022', 70), (4, 2, '01/05/2022', 5), (5, 3, '06/10/2022', 145), (6, 3, '03/02/2022', 2);


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '06/06/2022', 'Barcelona'), 
(2, 2, '06/06/2021', 'Madrid'), 
(3, 3, '06/10/2022', 'Barcelona'), 
(4, 4, '02/05/2022', 'Vigo'), 
(5, 5, '06/15/2022', 'Barcelona'), 
(6, 6, '03/05/2022', 'Madrid')
;
```

In [ ]:
%sql INSERT INTO bootcamp.Shipments VALUES (1, 1, '06/06/2022', 'Barcelona'), (2, 2, '06/06/2021', 'Madrid'), (3, 3, '06/10/2022', 'Barcelona'), (4, 4, '02/05/2022', 'Vigo'), (5, 5, '06/15/2022', 'Barcelona'), (6, 6, '03/05/2022', 'Madrid');

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

2. Retorna la cantidad de envios por shipment_city

3. Retorna la cantidad de envios a Barcelona

4. Retorna todas las ordenes mayores a €50

5. Retorna el cliente que más dinero gasto

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

7. Retornar la duración promedio de los clientes que se dieron de baja.

8. Retornar los clientes que tienen una 'a' en el nombre.